
@{
    ViewBag.Title = "Log";
}

<html>
<head>
</head>
<body>
    <div class="page charts-page">
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title">
                        <h1 class="h4">Mark Stephen</h1>
                        <p>Web Designer</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
                <ul class="list-unstyled">
                    <li class="active"> <a href="~/Home/Index"><i class="icon-home"></i>Home</a></li>
                    <li>
                        <a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Controle </a>
                        <ul id="dashvariants" class="collapse list-unstyled">
                            <li><a href="~/Home/Users">Usuários</a></li>
                            <li><a href="~/Servico/Servico">Serviços</a></li>
                            <li><a href="~/Log/Log">Alterações no Banco</a></li>
                            <li><a href="~/Denuncia/Denuncia">Denuncias</a></li>
                        </ul>
                    </li>
            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">Log</h2>
                    </div>
                </header>
                <!-- Breadcrumb-->
                <ul class="breadcrumb">
                    <div class="container-fluid">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Log</li>
                    </div>
                </ul>
                <section class="tables">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="width:800px; height:auto;">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">Log</h3>
                                    </div>

                                    <div class="card-header">
                                        <h3 class="h4">Recent Updates</h3>
                                    </div>
                                    <div class="card-body no-padding">
                                        <!-- Item-->
                                        <div class="item d-flex justify-content-between">
                                            <div class="info d-flex">
                                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                                <div class="title">
                                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                                </div>
                                            </div>
                                            <div class="date text-right"><strong>24</strong><span>May</span></div>
                                        </div>
                                        <!-- Item-->
                                        <div class="item d-flex justify-content-between">
                                            <div class="info d-flex">
                                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                                <div class="title">
                                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                                </div>
                                            </div>
                                            <div class="date text-right"><strong>24</strong><span>May</span></div>
                                        </div>
                                        <!-- Item        -->
                                        <div class="item d-flex justify-content-between">
                                            <div class="info d-flex">
                                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                                <div class="title">
                                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                                </div>
                                            </div>
                                            <div class="date text-right"><strong>24</strong><span>May</span></div>
                                        </div>
                                        <!-- Item-->
                                        <div class="item d-flex justify-content-between">
                                            <div class="info d-flex">
                                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                                <div class="title">
                                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                                </div>
                                            </div>
                                            <div class="date text-right"><strong>24</strong><span>May</span></div>
                                        </div>
                                        <!-- Item-->
                                        <div class="item d-flex justify-content-between">
                                            <div class="info d-flex">
                                                <div class="icon"><i class="icon-rss-feed"></i></div>
                                                <div class="title">
                                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</p>
                                                </div>
                                            </div>
                                            <div class="date text-right"><strong>24</strong><span>May</span></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>